/.vscode
/binaries
/build
/cache
/coverage
/dist
/node_modules
**/*/.DS_Store
**/*/.env
**/*.js
.DS_Store
.eslintcache
.VSCodeCounter/
electron.ts
yarn-debug.log*
yarn-error.log
yarn.lock
!public/preload.js
src-tauri/Cargo.lock