{
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "requirePragma": true,
  "printWidth": 200,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5"
}
