@mixin VHCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  @include VHCenter;
  flex-direction: column;
}

.todo-header {
  h1 {
    font-size: 4rem;
  }
}

.todo-input {
  width: 400px;

  .new {
    width: 360px;
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    outline: none;
  }
}

.todo-list {
  list-style: none;
  width: 380px;
  margin: 0;
  padding: 0 10px;
  background: white;
  font-size: 1rem;

  li {
    padding: 5px;

    input[type='checkbox'] {
      position: relative;
      visibility: hidden;
      cursor: pointer;

      &:after {
        position: relative;
        bottom: 6px;
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        color: seagreen;
        border: 2px solid black;
        border-radius: 2px;
        font-size: 1rem;
        line-height: 1.2;
        visibility: visible;
      }

      &.todo-mark-completed:after {
        content: '✔';
      }
    }

    label {
      padding-left: 16px;

      &.todo-label-completed {
        text-decoration: line-through;
      }
    }

    span {
      float: right;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}

.todo-footer {
  @include VHCenter;
  width: 400px;
  margin-top: 1rem;

  button {
    margin: 10px;
    padding: 5px 10px;
    color: white;
    background: steelblue;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    &:disabled {
      background: grey;
    }
  }
}
