/** @format */

* {
  text-align: center;
  align-items: center;
  font-family: 'Asap';
  justify-content: center;
}

.Paper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ButtonPane {
  width: 75vw;
  height: 5vh;
}

.MainArea {
  height: 100vh;
  width: 75vw;
  flex-direction: column;
  justify-content: flex-start;
}

.ManikinPane {
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  overflow: auto;
}

.ManikinTableBody {
  overflow: scroll;
}

.MemoryPane {
  flex-direction: column;
  overflow: auto;
  height: 95vh;
  width: 75vw;
}

.MemoryTable {
  height: 95vh;
}

.MemoryTableBody {
  overflow: scroll;
}
