* {
  text-align: center;
  align-items: center;
  font-family: 'Asap';
  justify-content: center;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: row;
  margin: 0 auto;
}

.MainArea {
  background-color: paleturquoise;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
}

.VariablePane {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 75vw;
}

.ButtonPane {
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 75vw;
  justify-content: space-around;
}

.InfoPane {
  background-color: cyan;
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 75vw;
}

.ManikinPane {
  background-color: cadetblue;
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 40vw;
  justify-content: flex-start;
}
