* {
  text-align: center;
  align-items: center;
  font-family: 'Asap';
  justify-content: center;
  box-sizing: border-box;
}

.App {
  display: flex;
  background-color: white;
  min-width: 100vw;
  flex-direction: row;
  margin: 0 auto;
  min-height: 100vh;
}

.ButtonPane {
  width: 75vw;
  width: 7vh;
  justify-content: space-around;
}

.Card {
  width: 30vw;
  font-size: smaller;
}

.CoreManikinRow {
  background-color: #eeeeee;
}

.InfoPane {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 75vw;
}

.MainArea {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
}

.ManikinPane {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35vw;
  justify-content: flex-start;
  overflow: auto;
}

.ManikinReadyIcon {
  justify-self: end;
  height: 20px;
  width: 20px;
}

.ManikinTable {
  flex-direction: column;
  overflow: scroll;
}

.MemoryHeaderRow {
  justify-content: space-between;
}

.MemoryPane {
  display: fixed;
  flex-direction: column;
  overflow: auto;
  height: 92vh;
  width: 75vw;
}

.MemoryTable {
  display: fixed;
  height: 100%;
}

.MemoryTableBody {
  padding: 0 !important;
  overflow: scroll;
}

.ValueColumnHeaderCell {
  place-content: center;
}
