* {
  text-align: center;
  align-items: center;
  font-family: 'Asap';
  justify-content: center;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: row;
  margin: 0 auto;
}

.MainArea {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
}

.VariablePane {
  display: flex;
  flex-direction: row;
  height: 70vh;
  overflow: auto;
  width: 75vw;
}

.VariableTable {
  height: 65vw;
  overflow: scroll;
}

.ButtonPane {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 75vw;
  justify-content: space-around;
}
.Card {
  width: 30vw;
  font-size: smaller;
}

.InfoPane {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 75vw;
}

.ManikinPane {
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 40vw;
  justify-content: flex-start;
  overflow: auto;
}

.ManikinTable {
  overflow: scroll;
}

.ManikinTableBody {
  text-align: center;
}
